---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section id="auth-callback">
    <h1>Auth Callback</h1>
    <p>
      This is an example page simulating an OAuth 2.0 / OIDC authorization callback.
    </p>
    <p>
      Check the <a href="https://auth0.com/docs/get-started/authentication-and-authorization-flow/authorization-code-flow-with-pkce" target="_blank">Auth0 documentation</a> for more information.
    </p>
  </section>
</Layout>
