---
import ProjectTile from '../components/ProjectTile.astro';
import Layout from '../layouts/Layout.astro';

export const PROJECTS = [
  {
    name: 'PaperPrint Calendar',
    description: 'Print your weekly calendar.',
    labels: ['NextJS', 'Playwright', 'Jest', 'TailwindCSS'],
    // link: '/projects/beskydske-tury',
    link: 'https://paperprint-calendar.vercel.app/',
  },
  {
    name: 'Beskydské túry',
    description: 'Go for a hike!',
    labels: ['GatsbyJS', 'Strapi', 'StyledCSS', 'Cypress'],
    // link: '/projects/beskydske-tury',
    link: 'https://beskydsketury.cz',
  },
];

---

<Layout>
  <section id="projects">
    <h1>Projects</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      {
        PROJECTS.map((project, index) => (
          <Fragment key={project.name}>
            <ProjectTile index={index} {...project} />
          </Fragment>
        ))
      }
    </div>
  </section>
</Layout>
