---
interface Props {
  title: string;
  link: string;
  imgUrl: string;
};

const { title, link, imgUrl } = Astro.props;
---

<a class="relative flex flex-1 gap-5 min-h-64 after:hidden hover:after:hidden focus:after:hidden" href={link}>
  <div class="absolute bg-cover bg-center z-0 inset-0" style={{ backgroundImage: `url(${imgUrl})` }}></div>
  <div class="p-4 relative z-default flex items-end flex-1 bg-linear-0 from-black to-transparent group">
    <span class="font-semibold font-secondary text-white text-2xl group-hover:underline group-focus:underline">{title}</span>
     <!-- <span class="short-header-underline h-[4px] w-0 transition-all duration-300 ease-in-out group-focus:w-full group-hover:visible group-hover:w-full bg-linear-90 from-blue-gradient to-green-gradient"></span> -->
  </div>
</a>