---
import Navigation from '../components/Navigation.astro';
import SkipLink from './SkipLink.astro';
---

<header class="md:w-2xl lg:w-3xl mx-auto relative">
  <SkipLink />
  <div class="flex justify-center">
    <Navigation />
  </div>
</header>