<a class="border-0 inset-shadow-none m-1 p-2 bg-transparent text-red-700 absolute -translate-y-full transition-opacity focus:bg-gray-100 focus:translate-y-0 focus:outline-2 focus:outline-red-700 focus:outline-dashed z-30" href="#main">
  Skip to content
</a>